name: "Typos Checker"

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  spelling:
    name: "Use Typos To Check Spelling"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v5
      - name: "Spell Check Repository"
        uses: crate-ci/typos@v1